p{
    color: blue;
    background-color: brown;
}

.teste{
    color: white;
    background-color: aqua;
}

section{
    background-color:blueviolet 
}

p{
    background-color: pink;
}

#teste{
    color: blue;
}