*{
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}

nav{
    background-color: rgb(178, 178, 238);
}

nav ul{
    display: flex;
    list-style: none;
    height: 50px;
    align-items: center;
    margin-left: 20px;
}

nav ul a, .top{
    margin-right: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: rgb(148, 1, 1);
    border-radius: 20px;
    transition: .5s;
}

nav ul a:hover, .top:hover{
    background-color: rgb(228, 82, 82);
    opacity: 2;
}

.taga{
    margin: 10px;
}